### Go template
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test
$2a$12$*qOlXAyF.dtYFFBi/2UKA3uKN2y98lkHWP3X.LFvMOcAEFHbgC1r7.
# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

### environment variable
*.vscode
.env

.idea