@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    background: #77889e;
    font-family: Lato,sans-serif;
    padding: 10px;
}

@media (max-width: 765px) {
    body {
        background: #77889e;
        font-family: Lato,sans-serif;
        padding: 25px;
    }
    .chat-container {
        margin-top: 2rem;
        background-color: #ffffff;
        padding-left: 1rem;
        padding-right: 1rem;
        border-radius: 8px;
    
    }
}

.chat-container {
    margin-top: 2rem;
    background-color: #ffffff;
    padding-left: 3rem;
    padding-right: 3rem;

}

h2 {
    font-weight: normal;
    margin-top: 2rem;
    color: #33465f;
}

p {
    font-size: 1rem;
    font-weight: normal;
    color: #33465f
    
}

h2 {
    font-weight: normal;
}

.form-label {
    color: #1D2021;;
}

.message-box {
    min-height: 12.5rem;
    border: 2px solid #33465f;
    border-radius: 10px;
}

.btn {
    color: #1D2021;
}

#indicator {
    padding: 0.5rem;
}

input {
    border: 3px solid #1d2021;
}

.btn-back {
    border: 4px solid #1D2021;

}

.btn-back a {
    color: #1D2021;
    text-decoration: none;
}