@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
body {
    min-height: 100vh;
    padding: 50px 0px;
    font-family: Lato,sans-serif;
    background-image: linear-gradient(180deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));
}

.form-container {
    background-color: #ffffff;
    border-radius: 5px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;

}

.bts a {
    text-decoration: none;
}

::placeholder {
    color: #33465f;
    opacity: 1;
}


h1 {
    font-weight: normal;
    text-align: center;
    color: #33465f;
    font-size: 2.0rem;
}
label{
    color: #33465f;
}

p{
    color: #33465f;
}
.user-info {
    font-weight: normal;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
    color: #33465f;
}


.box {
    color: #1D2021;
    font-style: italic;
    font-weight: normal;
}

.btn-back {
  border: 2px solid #1D2021;
}
.btn-back:hover{
    background-color: #33465f;
}

.btn-back a {
    color: #1D2021;
    text-decoration: none;
}
.btn-back a:hover{
    color: #ffffff;
}

.btn-reset {
    background-color: #92a0b8;
    border: 4px solid #33465f;
    color: #1D2021;
}

.btn-reset a {
    color: #ffffff;
    text-decoration: none;
}

.btn-submit {
    border: 4px solid #c6c9ce;
    color: #ffffff;
    background: #33465f;

}

.btn-submit a {
    color: #ffffff;
}
.contact--textArea {
    width: 100%;
    height: 200px;
}

.hold {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 765px) {
    body {
        font-family: Lato,sans-serif;
        padding: 50px 0px;
        background-image: linear-gradient(180deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));
    }
     
    .hold {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }
}
.btn--hold {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

