
/*!* #33465f*/
/*#c6c9ce*/
/*#1D2021*/
/*#566277 *!*/

body{
    background-image: linear-gradient(45deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));

}

.form-container{
    background-color: #33465f;
    border-radius: 5px;
}
h1{
    margin-bottom: 2rem;
    color: #33465f;
    font-size: 2.0rem;
    font-weight: normal;
    /* font- */
}
#login-form{
    margin-top: 2rem;
    text-align: center;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
}
.signUp-header p {
    /* text-align: left; */
    color: #ffffff;
    font-weight: normal;
    font-size: 1.5rem;
}
.details{
    padding-left: 4rem;
    padding-right: 4rem;
}
.terms {
    /* color: #ffffff; */
    text-align: left;

}

.terms p {
    color: #ffffff;
    font-style: normal;
    font-weight: 600;
}

.terms span {
    color: #c6c9ce;

}

.sign-up {

    background-color: #c6c9ce;
    margin-bottom: 15px;
    color: #1d2022;
    font-weight: normal;
    justify-items: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 2px;

}

.alt {
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}


.bt {
    background-color: #c6c9ce;
    margin-bottom: 5px;
    font-weight: normal;
    font-size: medium;
    justify-items: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 2px;
 
}

.alt-login {
    margin-bottom: 0.5rem;
}

.ft {
    text-decoration: none;
}

.ft p {
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}
