
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    overflow-x: hidden;
}
body{
    font-family: Lato,sans-serif;
    background-image: linear-gradient(to right, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));

}

h1{
    color: white;
    font-size: xx-large;
    font-weight: normal;
}
.acc{
    display: flex;
    justify-content: flex-end;
    gap: 2px;
    padding-bottom: 1.5rem;
    margin-bottom: 1px;
}
.acc p{
    color: #33465f;
    font-weight: bold;
}

.head{
    text-align: left;
    padding-top: 1rem;
}
hr:not([size]) {
    height: 4px;
}

hr {
    background-color:white;
}

.project-container{
    background-color: #ffffff;
    padding-left: 4rem;
    padding-right: 2rem;
    padding-bottom: 5rem;
    margin: 3rem 3rem;
}
@media (max-width: 700px) {
    .project-container{
        background-color: #ffffff;
        padding: 0 15px; 
        padding-bottom: 5rem;
        margin: 3rem 15px;
    }
    
}
table{
   color: #33465f;
   display: block;
   overflow-x: auto;
   white-space: nowrap;
}
@media (max-width: 640px) {
    table{
        color: #33465f;
        font-size: 0.85rem;
        display: block;
        overflow-x: auto;
        white-space: nowrap;    
    }
}
table tfoot tr th{
    color: #1d2021;
}

thead>tr>th{
    /* color: ghostwhite; */
    color: #1d2021;
}
table.dataTable{
    border-collapse: separate;
    border-spacing: 0 0.5rem;
}

table.dataTable > tbody > tr {
    background-color: white ;
}


table tr:last-child td:first-child {
    border-bottom-left-radius: 5px;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 5px;
}
.page-item.active .page-link{
    background-color: #33465f;
    border-color: #33465f;
}