
/*!* #33465f*/
/*#c6c9ce*/
/*#1D2021*/
/*#566277 *!*/

body{
    background-image: linear-gradient(180deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));

}

.form-container{
    background-color: #ffffff;
    /* background-color: #33465f; */
    border-radius: 5px;
    margin-bottom: 3rem;
}
h1{
    margin-bottom: 2rem;
    color: #33465f;
    font-size: 2.0rem;
    font-weight: normal;
    /* font- */
}
#login-form{
    margin-top: 2rem;
    margin-left: 50;
    margin-right: 50;
    text-align: center;
    padding-left: 5rem;
    padding-right: 5rem;
}

.signUp-header{
    padding-left: 4rem;
    padding-right: 4rem;
    margin-bottom: 1rem;
}
.signUp-header p {
    /* text-align: left; */
    color: #33465f;
    font-weight: normal;
    font-size: 1.5rem;
}

.signUp-header a{
    text-decoration: none;
    text-align: right;
    font-style: italic;
    font-weight: lighter;
    color: #33465f;
}
.signUp-header a:hover{
    color: #1d2021;
}
.details{
    padding-left: 4rem;
    padding-right: 4rem;
}
.terms {
    /* color: #ffffff; */
    text-align: left;

}

.terms p {
    color: #33465f;
    color: #566277;
    font-style: normal;
    font-weight: 600;
}

.terms span {
    color: #c6c9ce ;
}
.terms span a{
    text-decoration: none;
    color: #33465f;
}

.sign-up {

    background-image: linear-gradient(180deg, rgba(86, 98, 119, 1), rgba(86, 98, 119, 1));

    margin-bottom: 15px;
    color: #ffffff;
    font-weight: normal;
    justify-items: center;
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-bottom-width: 2px;

}

.alt {
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-weight: bold;
}


.bt {
    background-color: #ffffff;
    /* background-image: linear-gradient(0, rgba(198, 201, 206, 1)  rgba(86, 98, 119, 1)); */
    margin-bottom: 10px;
    border-radius: 30px;
    font-weight: normal;
    font-size: larger;
    justify-items: center;
    border: 3px solid #6b7d9c;
    color: #33465f;
}

.alt-login {
    margin-bottom: 0.5rem;
}

.ft {
    text-decoration: none;
}

.ft p {
    color: #ffffff;
    text-align: left;
    text-decoration: none;
}
