body {
    background-image: linear-gradient(180deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));
}

.set-task-container {
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;

}

h1 {
    font-family: Ubuntu Mono;
    color: #33465f;
    margin-top: 1.5rem;
}

hr:not([size]) {
    height: 3px;
}

hr {
    color: #33465f;
    /* margin-bottom: 50px */
}

.todo {
    font-family: Ubuntu Mono;
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
}


.btn-back a {
    color: #ffffff;
    text-decoration: none;

}

.btn-submit {
    border: 2px solid #c6c9ce;
    color: #ffffff;
    background: #33465f;

}

.btn-submit a {
    color: #ffffff;
}

.workspace-foot {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.workspace-foot p {
    text-align: center;
    font-weight: light;
}