@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    min-height: 100vh;
    font-family: Lato,sans-serif;
    padding: 50px 0;
    background-image: linear-gradient(180deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));
}

.set-task-container {
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 5rem;
    padding-right: 5rem;

}
.hold {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (max-width: 765px) {
    body {
        font-family: Lato,sans-serif;
        padding: 50px 0px;
        background-image: linear-gradient(180deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1));
    }
    .set-task-container {
        background-color: #ffffff;
        margin-top: 3rem;
        margin-bottom: 3rem;
       padding: 15px;
       border-radius: 10px;
    }    
    .hold {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 15px;
    }
}

h1 {
    color: #33465f;
    margin-top: 1.5rem;
}

hr:not([size]) {
    height: 3px;
}

hr {
    color: #33465f;
}

.todo {
    font-size: 1.5rem;
    font-weight: normal;
    text-align: left;
}


.btn-back a {
    color: #ffffff;
    text-decoration: none;

}

.btn-submit {
    border: 2px solid #c6c9ce;
    color: #ffffff;
    background: #33465f;

}

.btn-submit a {
    color: #ffffff;
}

.reset-submit-btn {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.reset-submit-btn2 {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width: 765px) {
    .reset-submit-btn {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
    }
}
.workspace-foot {
    margin-top: 6rem;
    display: flex;
    justify-content: center;
    text-align: center;
}

.workspace-foot p {
    text-align: center;
    font-weight: light;
}
.btn--hold {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}