/* 
#33465f (51,70,95,1)
#c6c9ce (198,201,206,1)
#1D2021 (29,32,33,1)
#566277 (86,98,119,1)
*/

body {
    background-color: #566277;
    /* background-image: linear-gradient(1deg, rgba(198, 201, 206, 1), rgba(86, 98, 119, 1)); */
}


.track {
    margin-top: 2.0rem;
    color: #33465f;
    font-weight: normal;
}

hr:not([size]) {
    height: 4px;
}

hr {
    color: #1D2021;
    margin-bottom: 30px
}

.work-list {
    font-size: large;
    font-weight: light;
    text-align: left;

}

ul li {
    font-size: 1rem;

}

.notice {
    font-size: 1rem;

}

.workspace-container {
    background-color: #ffffff;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: 3rem;
    margin-right: 3rem;

}

.form-control {
    border-radius: 2px;
    border: 2px solid #33465f;
}

.tox-tinymce {
    border: 3px solid #1D2021;
}

.reset-submit-btn {
    margin-top: 2rem;
}

.workspace-foot {
    margin-top: 40px;
    text-align: center;
}

.mode-btn {
    justify-items: left;

}

.workspace-foot {
    text-align: center;

}

.editor {
    border: 2px solid #1D2021;
    border-radius: 0.75rem;
}

/* #submit{
    background-color: #ffffff;  
}
#submit:hover{
    background-color: #33465f;
} */