<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/chart.css" />
    <title>Document</title>
  </head>
  <body>
    <main class="main-visual">
      <!-- first chart -->
      <section class="chart chart-container">
        <figure class="chart__figure">
          <canvas
            class="chart__canvas"
            id="chartCanvas"
            width="160"
            height="160"
            role="img"
          ></canvas>
          <figcaption class="chart__caption">
            Total Projects
            <span> project execute on track space </span>
          </figcaption>
        </figure>
      </section>
    </main>
  </body>
  <script
    src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"
    integrity="sha512-ElRFoEQdI5Ht6kZvyzXhYG9NqjtkmlkfYk0wr6wHxU9JEHakS7UJZNeml5ALk+8IKlU6jDgMabC3vkumRokgJA=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  ></script>
  <script>
    let color = "#c6c9ce";
    let projectnumber = 45;
    let canvas = "chartCanvas";
    let container = "chart-container";
    let totalProject = projectnumber;
    let color2 = "#566277";
    let animationTime = "1400";
    let chartCanvas = document.getElementById(canvas);
    let chartContainer = document.getElementById(container);
    let elementDiv = document.createElement("div");

    let stringValue =
      '<div class= "chart__value"><p>' + totalProject + "%</p></div>";

    const dougChart = new Chart(chartCanvas, {
      type: "doughnut", // Set the chart to be a doughnut chart type
      data: {
        datasets: [
          {
            data: [totalProject, 100 - totalProject], // Set the value shown in the chart as a percentage (out of 100)
            backgroundColor: [color, color2], // The background color of the filled chart
            borderWidth: 0, // Width of border around the chart
          },
        ],
      },
      options: {
        cutoutPercentage: projectnumber, // The percentage of the middle cut out of the chart
        responsive: false, // Set the chart to not be responsive
        tooltips: {
          enabled: true, // Hide tooltips
        },
      },
    });

    Chart.defaults.global.animation.duration = animationTime; // Set the animation duration

    elementDiv.innerHTML = stringValue; // Parse the HTML set in the domString to the innerHTML of the divElement
    chartContainer.appendChild(elementDiv.firstChild); // Append the divElement within the chartContainer as it's child
  </script>
  
</html>
