<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track-space|Chatroom</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
    <!-- Custom CSS design -->
    <link rel="stylesheet" href="/static/css/chat.css" />
    <!-- Notiejs cdn link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.css"
        integrity="sha512-UrjLcAek5jbj1vwGbXkviPHtgSNVNQCedX7cBIMDdSI2iZtUcZcoTh2Sqc8R9mVcijOjFUi1IlxhfrE1uWaIog=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 chat-container">
            <h2>Track-space Chatroom</h2>
            <hr class="mb-2" color="#33465f" />
            <p class="mb-3">Reach out and communication with other professionals all around the globe</p>
            <form action="" method="post">
                <div class="row">
                    <div class="col-md-8">
                        <!-- <hr /> -->
                        <div class="">
                            <label for="username" class="form-label">username</label>
                            <input type="text" name="username" id="username" class="form-control" placeholder=""
                                aria-describedby="helpId" />
                        </div>
                        <div class="mt-2">
                            <label for="message" class="form-label">message</label>
                            <input type="text" name="message" id="message" class="form-control" placeholder=""
                                aria-describedby="helpId" />
                            <hr />
                            <a href="javascript:void(0);"
                                class="btn btn-success mt-3 w-30 text-light text-decoration-none" id="send">send
                                message</a>
                        </div>
                        <input type="hidden" name="condition" id="condition" />
                        <div class="mt-3 float-end" id="indicator"></div>

                        <div class="message-box mt-5" id="message-box"></div>
                    </div>
                    <div class="col-md-4">
                        <h4 class="">Online user</h4>
                        <hr class="" />
                        <div>
                            <ul id="online_user"></ul>
                        </div>
                    </div>
                    <div class="col mt-4">
                        <a href="/auth/user/dashboard"
                            class=" btn btn-danger w-30 text-light text-decoration-none">Back</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-2"></div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
    integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
    integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/notie/4.3.1/notie.min.js"
    integrity="sha512-NHRCwRf2LnVSlLDejCA9oS3fG3/FLSQIPCjAWl3M7tVi5wszwr6FxkjotWnQDXLE+aLKcxRrzFDNEgXj9nvkPw=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="/static/js/reconnecting-websocket.min.js"></script>
<script>
    let msgInput = document.getElementById("message");
    let userNameInput = document.getElementById("username");
    let socket = null;
    let userStatus = document.getElementById("indicator");
    let onlineBadge = `<span class="badge bg-success">online</span>`;
    let offlineBadge = `<span class="badge bg-dark">offline</span>`;

    window.onbeforeunload = function () {
        let jsonData = {};
        console.log("Server is turn off");
        jsonData["condition"] = "serveroffline";
        socket.send(JSON.stringify(jsonData));
    };

    document.addEventListener("DOMContentLoaded", function () {
        //Setting up the server
        socket = new ReconnectingWebSocket("ws://localhost:8080/auth/ts", null, {
            debug: true,
            reconnectInterval: 5000,
        });

        socket.onopen = () => {
            userStatus.innerHTML = onlineBadge;
            console.log("Successfully connected to the web socket");
            notifyUser("welcome to track space chat room", "success");
        };

        socket.onclose = () => {
            userStatus.innerHTML = offlineBadge;
            console.log("web socket successfully close");
        };
        socket.onerror = (error) => {
            console.log(error);
        };

        // response from the server
        socket.onmessage = (msg) => {
            let respData = JSON.parse(msg.data);
            console.log(respData)
            console.log("server condition : ", respData.condition);
            switch (respData.condition) {
                case "username":
                    let user_list = document.getElementById("online_user");
                    while (user_list.firstChild) {
                        user_list.removeChild(user_list.firstChild);
                    }

                    if (respData.connected_user.length > 0) {
                        respData.connected_user.forEach(function (element) {
                            let newUser = document.createElement("li");
                            newUser.appendChild(document.createTextNode(element));
                            user_list.appendChild(newUser);
                        })
                    }
                    break;

                case "message":
                    let messageBox = document.getElementById("message-box");
                    messageBox.innerHTML = messageBox.innerHTML + respData.message + "<br>";
                    break;
            }
        };

        document.getElementById("send").addEventListener("click", function () {
            if ((msgInput.value === "") || (userNameInput.value === "")) {
                notifyUser("input username and message !", "warning");
                return false;
            } else {
                SendMessage();
            }
        });

        msgInput.addEventListener("keydown", function (action) {
            if (action.code === "Enter") {
                if (!socket) {
                    notifyUser("not connected to the socket", "warning");
                    return false;
                } else {
                    action.preventDefault;
                    action.stopPropagation;
                    SendMessage();
                }
            }
        });

        //send data/payload back to the server through socket
        userNameInput.addEventListener("change", function () {
            let jsonData = {};
            jsonData["condition"] = "username";
            jsonData["username"] = this.value;
            socket.send(JSON.stringify(jsonData));
        })

    });

    function SendMessage() {
        let jsonData = {};
        jsonData["condition"] = "sendMessage";
        jsonData["username"] = userNameInput.value;
        jsonData["message"] = msgInput.value;
        socket.send(JSON.stringify(jsonData));
        jsonData["message"] = msgInput.value = "";
    }

    function notifyUser(msg, type) {
        notie.alert({
            text: msg,
            type: type,
        });
    }
</script>

</html>