<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
    <title>Track Space Project</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <link href="/static/css/project.css" rel="stylesheet">
</head>

<body>

<div class="project-container">
    <div class="head">
        <h1 class="title">Track Space Project</h1>
    </div>
    <hr>
    <div class="acc">
        <p><img src="/static/icon/user.ico" alt="" srcset="" width="10%">Yusuf Akinleye</p>
    </div>
    <table class="table table-responsive-md table-responsive-sm table-responsive-lg table-striped table-bordered table-hover" id="projectTable" style="width:100%">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Type</th>
            <th>Content</th>
            <th>Date</th>
            
        </tr>
        </thead>
        <tbody>

        <tr>
            <td>Cedric Kelly</td>
            <td>Senior Javascript Developer</td>
            <td>Edinburgh</td>
            <td>22</td>
            <td>2012-03-29</td>
         
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
        </tr>
        </tfoot>
    </table>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $("#projectTable").DataTable();
    });
</script>
</body>

</html>