<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/static/bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/work.css" />
    <title>Document</title>
</head>

<body>
    <main>
        <div class="workspace-container">
            <form action="/auth/workspace" method="post">
                <h1 class="track">Track space Editor </h1>
                <hr>
                <div>
                    <p class="work-list">Right here at track space, get Your work done</p>
                    <ul>
                        <li>Write your Code.</li>
                        <li>Proofread your Article</li>
                        <li>Write up your Document</li>
                        <li>Organise your Design and presentation</li>
                        <li>Use simple Text editor</li>
                        <li>Share idea through Comment</li>
                    </ul>
                </div>
                <hr>
                <br>


                <div class="project">
                    <p><input class="form-control" type="text" name="project-name" id="project-name"
                            placeholder="Enter the name of the project"></p>
                    <p><input class="form-control" type="text" name="project-tool-use" id="project-tool-use"
                            placeholder="Add tools used i.e text-editor,source code & comment"></p>

                </div>
                <div class="row doc-editor">
                    <div class="document-editor__toolbar"></div>
                </div>
                <div class="row row-editor edit">
                    <div class="editor-container">
                        <div class="editor"></div>
                    </div>
                </div>
                <div class="reset-submit-btn">
                    <div>
                        <button type="reset" class="w-40 btn btn-dark  btn-lg">Back</button>
            
                    </div>
                    <div>
                        <button type="menu" class="w-40 btn btn-dark btn-lg ">Submit</button>
                    </div>
                </div>


            </form>
            <div class="row workspace-foot">
                <p>CkEditor | Akinleye_dev</p>
            </div>
        </div>
    </main>

    <script src="/main-ckeditor5/build/ckeditor.js"></script>
    <script>
        const watchdog = new CKSource.EditorWatchdog();
        window.watchdog = watchdog;

        watchdog.setCreator((element, config) => {
            return CKSource.Editor
                .create(element, config)
                .then(editor => {
                    // Set a custom container for the toolbar.
                    document.querySelector('.document-editor__toolbar').appendChild(editor.ui.view.toolbar.element);
                    document.querySelector('.ck-toolbar').classList.add('ck-reset_all');

                    return editor;
                })
        });

        watchdog.setDestructor(editor => {
            // Set a custom container for the toolbar.
            document.querySelector('.document-editor__toolbar').removeChild(editor.ui.view.toolbar.element);

            return editor.destroy();
        });

        watchdog.on('error', handleError);

        watchdog
            .create(document.querySelector('.editor'), {

                licenseKey: '',

            })
            .catch(handleError);

        function handleError(error) {
            console.error('Oops, something went wrong!');
            console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
            console.warn('Build id: 5ynjzbbaaku7-33gd3fyy8tto');
            console.error(error);
        };

    </script>
</body>

</html>